:root {
  --primary-color: #007bff;
  --border-color: #afaaaa;
  --font-family: "Roboto", sans-serif;
  --font-size-base: 16px;
  --font-size-label: 18px;
  --font-size-label-focused: 14px;
  --padding-base: 10px;
  --padding-label: 8px;
  --transition-duration: 0.3s;
  --hover-color: #f0f0f0;
}

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  font-family: var(--font-family);
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.inputWrapper {
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 8px 14px;
  padding-top: calc(var(--padding-base) + 6px);
  transition: border-color var(--transition-duration) ease;
  background-color: transparent;
}
inputWrapper .focused {
  border-width: 2px; /* Increase border width by 1px */
  border-color: var(--primary-color);
}
.label {
  position: absolute;
  top: 10px;
  left: 6px;
  font-size: var(--font-size-label);
  color: #727479;
  background: white;
  transition: all var(--transition-duration) ease;
  padding: 0 var(--padding-label);
  font-weight: 400;
  pointer-events: none;
}

.labelFocused {
  top: -10px;
  left: 6px;
  font-size: var(--font-size-label-focused);
  color: var(--primary-color);
}

.labelSelected {
  top: -10px;
  left: 6px;
  font-size: var(--font-size-label-focused);
  color: #555;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: var(--font-size-base);
  background: transparent;
  padding: 0;
}

.dropdown {
  position: absolute;
  top: 55%;
  right: 28%;
  width: 100%;
  max-height: 400px;
  overflow-y: auto;
  background: white;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  margin-top: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  cursor: pointer;
  transition: background var(--transition-duration);
  font-size: var(--font-size-base);
}

.dropdownItem:hover {
  background: var(--hover-color);
}
.dropdownItem.previouslySelected,
.dropdownItem.selected {
  color: var(--primary-color);
}

.dropdownItem.previouslySelected .short,
.dropdownItem.selected .short {
  color: var(--primary-color);
}
.dropdownItem .name {
  flex-grow: 1;
  margin-right: 8px;
}

.dropdownItem .icon {
  font-size: 20px;
  margin-right: 8px;
}

.dropdownItem .short {
  font-size: var(--font-size-base);
  color: #555;
}
